p {
	font: 400 1em  "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box-header {
	font-weight: 700;
	font-size: 1em;
	padding: .5em;
	border-top: 3px solid #111;
	border-bottom: 3px solid #aaa;
	text-transform: uppercase;
	text-align: center;
}

.page-heading {
	padding: 1em 0px;
	text-transform: uppercase;
	border-top: 3px solid #111;
	border-bottom: 3px solid #aaa;
	text-align: center;
	margin: 0px 0px 2em;
}
